{% extends 'base.html' %}
{% load navactive %}{% load markdown_deux_tags %}


{% block title %}
{% endblock title %}


{% block page_js %}
<script type='text/javascript'>
function addAnchors(){
    //loop through all your headers
    $.each($('h2'),function(index,value){
        //append the text of your header to a list item in a div, linking to an anchor we will create on the next line
        $('#box-anchors').append('<li><a href="#anchor-'+index+'">'+$(this).html()+'</a></li>');
        //add an a tag to the header with a sequential name
        $(this).html('<span id="anchor-'+index+'">'+$(this).html()+'</span>');
    });
}
{#$('document').ready(addAnchors);#}

$('document').ready(function() {
    addAnchors();

    $('#chooser-blocks a').hover(function() {
        $('#description').html($(this).data("description"));
    });
})

</script>
{% endblock page_js %}



{% block content %}

<div class="container">
<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            {% markdown %}{% block copy_headline %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>
<div class="row" >
    <div class="span12 paper">
        <div id="" class="span8 offset2">

            {% markdown %}{% block copy_introduction %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}

            {# This is where the table of contents will show up#}
            <ul id="box-anchors" class="table-of-contents">
            </ul>

            {% markdown %}{% block copy_1 %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}

            {% markdown %}{% block copy_2 %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>
</div>

{% endblock %}