{% extends 'base.html' %}{% load markdown_deux_tags %}

{% block page_js %}
<script type='text/javascript'>
function addAnchors(){
    //loop through all your headers
    $.each($('h2'),function(index,value){
        //append the text of your header to a list item in a div, linking to an anchor we will create on the next line
        $('#box-anchors').append('<li><a href="#anchor-'+index+'">'+$(this).html()+'</a></li>');
        //add an a tag to the header with a sequential name
        $(this).html('<span id="anchor-'+index+'">'+$(this).html()+'</span>');
    });
}

$(document).ready(addAnchors);
</script>
{% endblock page_js %}

{% block content %}

<div class="container">
<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            {% markdown %}{% block copy_headline %}
                # Placeholder for content #
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>
<div class="row" >
    <div class="span12 paper">
        <div id="" class="span8 offset2">
            {% markdown %}{% block copy_introduction %}
            {% endblock %}{% endmarkdown %}

            {# This is where the table of contents will show up#}
            <ul id="box-anchors" class="table-of-contents">
            </ul>

            {% markdown %}{% block copy_install %}
            {% endblock %}{% endmarkdown %}

            {% markdown %}{% block copy_hello_world %}
            {% endblock %}{% endmarkdown %}

            {% markdown %}{% block copy_user_guides %}
            {% endblock %}{% endmarkdown %}

        </div>
    </div>
</div>

</div>

{% endblock %}