{% extends 'base.html' %}
{% load markdown_deux_tags %}{% load staticfiles %}
{% block page_js %}

<script type="text/javascript">

    function moveRight() {
        $('#tweets-container').scrollTo( '+=620px', 300 );
    }
    function moveLeft() {
        $('#tweets-container').scrollTo( '-=620px', 300 );
    }
    function showLeftShadow() {
        $('.tweet-navigator-left').addClass('shadow').show();
    }

    $('document').ready(function() {
        $('.tweet-navigator-right').click(moveRight);
        $('.tweet-navigator-left').click(moveLeft);

        $('#tweets-container').scroll(showLeftShadow);
    })

</script>

{% endblock %}

{% block content %}

<a href="https://github.com/dotcloud/docker/"><img style="position: absolute; top: 70; right: 0; border: 0; z-index: 22" src="{% static 'img/fork-us-on-github.png' %}" alt="Fork us on GitHub"></a>

<div class="">
    <div id="top"  class="main-banner" >
        <div class="text-center ">
            <div class="copy-headline">

                {% markdown %}{% block copy_headline %}Placeholder for content
                {% endblock %}{% endmarkdown %}

                <img id="main-image" src="{% static 'img/homepage-docker-logo.png' %}" alt="Docker Logo" >
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row " >
        <div class="span12 text-center copy-introduction">

            {% markdown %}{% block copy_introduction %}Placeholder for content
            {% endblock %}{% endmarkdown %}

        </div>
    </div>

    <div class="row" >
        <div class="span12 text-center action-button">
            <a href="{% url 'learn_more' %}" class="btn btn-large btn-primary secondary-action-button" title="learn more">Learn more</a>
            <a href="{% url 'getting_started' %}" class="btn btn-large btn-primary primary-action-button" title="getting started">Get started!</a>
        </div>
    </div>

    <div class="row" >
        <div class="span12">
            <h4>latest news:</h4>
            <a href="http://blog.docker.io/2013/09/red-hat-and-docker-collaborate/" title="RedHat and Docker collaborate"><img style="border: 1px solid #ddd;" src="{% static 'img/homepage/banner_docker_redhat.jpg' %}" alt="RedHat and Docker collaborate banner"></a>
        </div>
    </div>

    <div class="row" >

        <div class="span12">
            <h3>What people are saying about us:</h3>
        </div>

        <div id="tweets-block" class="span12 tweets-block">
            <div id="" class="tweet-navigator tweet-navigator-left" ><img src="{% static 'img/arrow left.svg' %}" class="vertical-middle"></div>
            <div id="" class="tweet-navigator tweet-navigator-right" ><img src="{% static 'img/arrow right.svg' %}" class="vertical-middle"> </div>
            <div id="tweets-container" class="tweets-container">
                <div id="tweet-surface" class="tweet-surface">
                {% if tweets %}
                {% for tweet in tweets|slice:":36" %}
                     <div class="tweet" onClick="window.open('http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}/')" >
                        <img src="{{ tweet.user.profile_image_url_https }}">
                        <span class="username">{{ tweet.user.name }}</span>
                        <span class="handle" ><a onClick="window.open('http://twitter.com/{{ tweet.user.screen_name }}'); event.preventDefault();" href="https://twitter.com/{{ tweet.user.screen_name }}/" title="users twitter page">@{{ tweet.user.screen_name }}</a></span>
                        <p><span class="text">{{ tweet.text }}</span></p>
                    </div>
                {% endfor %}
                {% else %}
                    oops.. we failed to get some tweets from the api, but believe us, it's all good. :-)
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="span6 block_updates copy_news">
            {% markdown %}{% block copy_news %}Placeholder for content
            {% endblock %}{% endmarkdown %}
        {% for news_item in news_items %}
            <div class="news-item">
                <h4>{{ news_item.publication_date }} • {{ news_item.title }}</h4>
            {% if news_item.link %}
                {{ news_item.text|add:'<span class="read-more"><a href="'|add:news_item.link|add:'"> Read more -></a></span>'|markdown }}
            {% else %}
                {{ news_item.text|markdown }}
            {% endif %}
            </div>

        {% endfor %}

            <hr>
            <h3>Stay up to date, sign up for Docker Weekly</h3>
            <p>Docker Weekly will keep you informed each week about new releases and other important updates from the Docker Community.</p>

            <form name="email_subscribe" class="form-inline" action="{% url 'email_thanks' %}" method="POST">
                {% csrf_token %}
                {{ form.email }}

            <input type="submit" class="btn btn-default">
            </form>
        </div>

        <div class="span6 block_updates copy_community">
            {% markdown %}{% block copy_community %}Placeholder for content
            {% endblock %}{% endmarkdown %}

        {% for event in upcoming_events %}
            <div class="event">
                <h4>{{ event.date_and_time|date:"D M  d" }} • {{ event.title }} - {{ event.location }}</h4>

                {% if event.link %}
                    {{ event.text|truncatewords:20|add:'<span class="read-more"><a href="'|add:event.link|add:'"> Read more -></a></span>'|markdown }}
                {% else %}
                    {{ event.text|truncatewords:20|markdown }}
                {% endif %}
            </div>
        {% endfor %}

        <a href="/live"><img src="https://farm4.staticflickr.com/3763/9409768665_966d0c08d9.jpg" width="500" height="375" alt="Docker Hck Day #6"></a>

        </div>
    </div>

    <h3>As seen on:</h3>
    <div class="span12 row press" >
        {% markdown %}{% block press %}{% endblock %}{% endmarkdown %}
    </div>


</div> <!-- end container -->




{% endblock content %}


