{% extends 'base.html' %}
{% load navactive %}{% load markdown_deux_tags %}
{% block page_js %}{% endblock %}


{% block title %}

{% endblock title %}


{% block content %}


<div class="container">
<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            {% markdown %}{% block copy_headline %}
                # Placeholder for content #
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>
<div class="row" >
    <div class="span12 paper">
        <div id="" class="span8 offset2">

            {% markdown %}{% block copy_introduction %}
            {% endblock %}{% endmarkdown %}

        </div>


    </div>
</div>
</div>


{% endblock %}