{% extends 'base.html' %}
{% load navactive %}{% load markdown_deux_tags %}{% load gravatar %}
{% block page_js %}{{ block.super }}
{% endblock %}


{% block content %}

<div class="container">

<div class="row" >
    <div class="span12 text-center">
        <div class="copy-headline">
            {% markdown %}{% block copy_headline %}
                <h1>Placeholder for content</h1>
            {% endblock %}{% endmarkdown %}
        </div>
    </div>
</div>

<div class="row" >
    <div class="span12 paper">
    <div class="span3">
        {% include 'about/_menu.html' %}

    </div>
    <div id="" class="span8 main-copy">
        {% markdown %}{% block copy_introduction %}
        {% endblock %}{% endmarkdown %}

        <div class="">
        {% for news_item in news_items %}
            <div class="news-item">
                <h4>{{ news_item.publication_date }} • {{ news_item.title }}</h4>
            {% if news_item.link %}
                {{ news_item.text|add:'<span class="read-more"><a href="'|add:news_item.link|add:'"> Read more -></a></span>'|markdown }}
            {% else %}
                {{ news_item.text|markdown }}
            {% endif %}
            </div>

        {% endfor %}
        </div>

    </div>
    </div>

</div>


</div>

{% endblock %}