.debug {
  border: 2px dotted red !important;
}

body {
  margin-top: 70px;
  background-color: #f2f2f2;
}

p a {
  text-decoration: underline;
}

p a.btn {
  text-decoration: none;
}

.brand.logo a {
  text-decoration: none;
}

.navbar .navbar-inner {
  padding-right: 0;
  padding-left: 0;
}

.navbar .brand {
  display: block;
  float: left;
  margin-left: 0;
}

.brand.logo a {
  color: white;
}

.navbar .nav li a {
  padding: 25px 17px 25px;
}

.nav-underline {
  height: 6px;
  background-color: #71afc0;
}

.nav-login li a {
  padding: 10px 15px 10px;
  color: white;
}

.inline-icon {
  margin-bottom: 6px;
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

div[class*='span'] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.box {
  padding: 30px;
  margin-top: 8px;
  background-color: white;
}

.paper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.copy-headline {
  margin-top: 0;
}

.box h1,
.box h2,
.box h3,
.box h4 {
  margin-top: -5px;
}

.nested {
  padding: 30px;
}

.box.div {
  padding: 30px;
}

span.read-more {
  margin-left: 15px;
  white-space: nowrap;
}

.forcetopalign {
  margin-top: 15px !important;
}

.forcetopmargin {
  margin-top: 23px !important;
}

.forceleftalign {
  margin-left: 15px !important;
}

.forceleftmargin {
  margin-left: 21px !important;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.textsmaller {
  font-size: 11.9px;
}

.modal-backdrop {
  opacity: 0.4;
}

/* generic page copy styles */

.copy-headline h1 {
  font-size: 21px;
}

/* =======================
   Sticky footer
======================= */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}

/* Wrapper for page content to push down footer */

#wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -350px;
}

/* Set the fixed height of the footer here */

#push,
#footer {
  height: 350px;
}

footer,
.footer {
  margin-top: 160px;
}

footer .ligaturesymbols,
.footer .ligaturesymbols {
  font-size: 30px;
  color: black;
}

footer .ligaturesymbols a,
.footer .ligaturesymbols a {
  color: black;
}

footer .footerlist h3,
.footer .footerlist h3,
footer .footerlist h4,
.footer .footerlist h4 {
  /* correct the top alignment */

  margin-top: 0;
}

.footer-landscape-image {
  position: absolute:
  bottom: 0;
  height: 350px;
  margin-bottom: 0;
  background-image: url('../img/website-footer_clean.svg');
  background-repeat: repeat-x;
}

/* =======================
   Social footer
======================= */

.social {
  margin-top: 15px;
  margin-left: 0;
}

.social .twitter,
.social .github,
.social .googleplus {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  overflow: hidden;
  text-indent: 9999px;
  background: url("../img/footer-links.png") no-repeat transparent;
}

.social .twitter {
  background-position: 0 2px;
}

.social .github {
  background-position: -59px 2px;
}

form table th {
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}

form .labeldd label {
  font-weight: bold;
}

form .helptext {
  margin-top: -4px;
  margin-bottom: 10px;
  font-size: 11.9px;
}

form .fielddd input {
  width: 250px;
}

form .error {
  color: #a30000;
}

div.alert.alert-block {
  margin-bottom: 15px;
}

/* ******************************
 For the homepage
****************************** */

#top {
  position: relative;
  right: 0;
  left: 0;
  background-color: #71afc0;
}

#main-image {
  width: 350px;
  margin: 20px;
}

.main-banner {
  padding: 15px;
}

.copy-introduction {
  margin-top: 15px;
}

.tweets-container {
  height: 240px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tweets-container .tweet {
  display: block;
  float: left;
  width: 290px;
  height: 95px;
  padding: 4px;
  margin: 5px;
}

.tweets-container .tweet img {
  float: left;
  width: 48px;
  height: 48px;
  margin: 3px 8px 8px 0;
}

.tweets-container .tweet .handle {
  font-weight: bold;
}

.tweets-container .tweet .username {
  clear: right;
}

.tweet:hover {
  background-color: #d8d8d8;
}

.tweets-block {
  position: relative;
}

.tweet-navigator {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  width: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet-navigator:hover {
  background-color: rgba(155, 155, 155, 0.15);
}

.tweet-navigator-left {
  left: 0;
  display: none;
  margin-left: -18px;
}

.tweet-navigator-left.shadow {
  box-shadow: 5px 0 5px #DDD;
}

.tweet-navigator-right {
  right: 0;
  margin-right: -18px;
  box-shadow: -3px 0 2px #bbbbbb;
}

.vertical-middle {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin-top: 100px;
}

.tweet-surface {
  width: 5050px;
  height: 200px;
}

.primary-action-button,
.secondary-action-button {
  padding: 17px 30px 17px 30px ;
  background: #394d54;
  border-radius: 0;
}

.primary-action-button:hover {
  background: #333333 !important;
}

.secondary-action-button {
  background: #628591;
}

.secondary-action-button:hover {
  background: #7e9da8;
}

button:hover {
  background-color: white;
}

.block_updates {
  padding: 10px;
}

.copy-introduction {
  font-size: 17px;
}

.copy_news img:hover {
  opacity: 0.7;
}

.press {
  margin: 0;
  text-align: center;
}

.press p {
  margin-bottom: 0;
}

.press img {
  height: 60px;
  margin: 20px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: alpha(opacity=50);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-transition: opacity .2s linear;
}

.press img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: alpha(opacity=100);
  filter: none;
  -webkit-transition: opacity .2s linear;
}

/* ******************************
 For the about page
****************************** */

.table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table td {
  padding: 5px;
}

.table thead {
  font-size: larger;
  font-weight: bold;
}

.table tbody td:first-child {
  font-weight: bold;
}

.striped-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 103, 177, 0.14);
}

.slideshare-presentation {
  margin-bottom: 15px;
  box-shadow: 1px 2px 15px #888888;
}

/* ******************************
 For the getting started page
****************************** */

.option-chooser-blocks {
  position: relative;
  margin-left: -8px;
}

.option-chooser-blocks img {
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

.option-chooser-blocks a {
  color: black;
}

.option-chooser-blocks li {
  float: left;
  width: 115px;
  height: 115px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  list-style-type: none;
  background-color: #eaeaea;
  border: 2px solid #b0c0bf;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.option-chooser-blocks li:hover {
  background-color: #d1d1d1;
}

option-chooser-blocks,
chooser-description {
  display: block;
  float: left;
  width: 100%;
  clear: both;
}

/* ******************************
 For the community page
****************************** */

.botbot-button {
  height: 60px;
  padding: 4px;
  background-color: #de6222;
}

.botbot-button img {
  float: left;
  height: 50px;
}

.botbot-button .bbme-title {
  font-size: larger;
  color: white;
}

.pagemenu {
  width: 180px;
  margin-top: 18px;
  margin-left: 20px;
}

.pagemenu ul > li > a {
  display: inline-block;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-size: 16px;
  border-bottom: 1.5px solid #595959;
}

.pagemenu ul > li:first-child.active > a {
  border-top: 1.5px solid #595959;
}

.pagemenu ul > li:last-child > a {
  border-bottom: none;
}

.pagemenu ul > li:last-child.active > a {
  border-bottom: 1.5px solid #595959;
}

.pagemenu ul > li.active > a {
  color: #394d54;
  border-right: 1.5px solid #595959;
  border-left: 1.5px solid #595959;
}

.pagemenu ul > li:hover {
  background-color: #e8e8e8;
}

.team .team-member {
  position: relative;
  float: left;
  margin: 0 10px 10px 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.team .team-member img {
  width: 145px;
  height: 145px;
}

.team .name {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  float: center;
  padding: 6px;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: black;
  background-color: rgba(0, 0, 0, 0.24);
}

.team .bio {
  position: relative;
  float: left;
  width: 300px;
  height: 145px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  text-overflow: clip;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.core-team .team-member:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
