.debug {
  border: 2px dotted red !important;
}
body {
  margin-top: 70px;
  background-color: #f2f2f2;
}
p a {
  text-decoration: underline;
}
p a.btn {
  text-decoration: none;
}
.brand.logo a {
  text-decoration: none;
}
.navbar .navbar-inner {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar .brand {
  margin-left: 0px;
  float: left;
  display: block;
}
.brand.logo a {
  color: white;
}
.navbar .nav li a {
  padding: 25px 17px 25px;
}
.nav-underline {
  height: 6px;
  background-color: #71afc0;
}
.nav-login li a {
  color: white;
  padding: 10px 15px 10px;
}
.inline-icon {
  margin-bottom: 6px;
}
.row {
  margin-top: 15px;
  margin-bottom: 15px;
}
div[class*='span'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box {
  padding: 30px;
  background-color: white;
  margin-top: 8px;
}
.paper {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.copy-headline {
  margin-top: 0px;
}
.box h1,
.box h2,
.box h3,
.box h4 {
  margin-top: -5px;
}
.nested {
  padding: 30px;
}
.box.div {
  padding: 30px;
}
span.read-more {
  margin-left: 15px;
  white-space: nowrap;
}
.forcetopalign {
  margin-top: 15px !important;
}
.forcetopmargin {
  margin-top: 23px !important;
}
.forceleftalign {
  margin-left: 15px !important;
}
.forceleftmargin {
  margin-left: 21px !important;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.textsmaller {
  font-size: 11.9px;
}
.modal-backdrop {
  opacity: 0.4;
}
/* generic page copy styles */
.copy-headline h1 {
  font-size: 21px;
}
/* =======================
   Sticky footer
======================= */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -350px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 350px;
}
footer,
.footer {
  margin-top: 160px;
}
footer .ligaturesymbols,
.footer .ligaturesymbols {
  font-size: 30px;
  color: black;
}
footer .ligaturesymbols a,
.footer .ligaturesymbols a {
  color: black;
}
footer .footerlist,
.footer .footerlist {
  float: left;
  margin: 3px;
  margin-right: 30px;
}
footer .footerlist h3,
.footer .footerlist h3,
footer .footerlist h4,
.footer .footerlist h4 {
  /* correct the top alignment */

}
footer .footer-items-right,
.footer .footer-items-right {
  /* correct the top alignment */

  margin-top: -6px;
  float: right;
}
.footer-landscape-image {
  position: absolute:
  bottom: 0;
  margin-bottom: 0;
  background-image: url('../img/website-footer_clean.svg');
  background-repeat: repeat-x;
  height: 350px;
}
/* =======================
   Social footer
======================= */
.social {
  margin-left: 0px;
  margin-top: 15px;
}
.social .twitter,
.social .github,
.social .googleplus {
  background: url("../img/footer-links.png") no-repeat transparent;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  text-indent: 9999px;
  width: 35px;
  margin-right: 10px;
}
.social .twitter {
  background-position: 0px 2px;
}
.social .github {
  background-position: -59px 2px;
}
form table th {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}
form .labeldd label {
  font-weight: bold;
}
form .helptext {
  font-size: 11.9px;
  margin-top: -4px;
  margin-bottom: 10px;
}
form .fielddd input {
  width: 250px;
}
form .error {
  color: #a30000;
}
div.alert.alert-block {
  margin-bottom: 15px;
}
/* ******************************
 For the homepage
****************************** */
#top {
  background-color: #71afc0;
  position: relative;
  left: 0;
  right: 0;
}
#main-image {
  width: 350px;
  margin: 20px;
}
.main-banner {
  padding: 15px;
}
.copy-introduction {
  margin-top: 15px;
}
.tweets-container {
  height: 260px;
  overflow-x: scroll;
  padding-left: 10px;
  overflow-y: hidden;
}
.tweets-container .tweet {
  margin: 5px;
  width: 280px;
  height: 95px;
  display: block;
  float: left;
  padding: 4px;
  cursor: pointer;
}
.tweets-container .tweet img {
  float: left;
  margin: 3px 8px 8px 0;
  width: 48px;
  height: 48px;
}
.tweets-container .tweet .handle {
  font-weight: bold;
}
.tweets-container .tweet .username {
  clear: right;
}
.tweet:hover {
  background-color: #d8d8d8;
}
.tweets-block {
  position: relative;
}
.tweet-navigator {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 18px;
}
.tweet-navigator:hover {
  background-color: rgba(155, 155, 155, 0.15);
}
.tweet-navigator-left {
  display: none;
  left: 0;
  margin-left: -18px;
}
.tweet-navigator-left.shadow {
  box-shadow: 5px 0 5px #DDD;
}
.tweet-navigator-right {
  right: 0;
  margin-right: -18px;
  box-shadow: -3px 0 2px #bbbbbb;
}
.vertical-middle {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 100px;
}
.tweet-surface {
  width: 5500px;
  height: 200px;
}
.primary-action-button,
.secondary-action-button {
  border-radius: 0px;
  padding: 17px 30px 17px 30px ;
  background: #394d54;
}
.primary-action-button:hover {
  background: #333333 !important;
}
.secondary-action-button {
  background: #628591;
}
.secondary-action-button:hover {
  background: #7e9da8;
}
button:hover {
  background-color: white;
}
.block_updates {
  padding: 10px;
}
.copy-introduction {
  font-size: 17px;
}
.copy_news img:hover {
  opacity: 0.7;
}
.press {
  text-align: center;
  margin: 0;
}
.press p {
  margin-bottom: 0;
}
.press img {
  height: 60px;
  margin: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity .2s linear;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(100%);
}
.press img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity .2s linear;
  filter: none;
  -webkit-filter: grayscale(0%);
}
/* ******************************
 For the about page
****************************** */
.table {
  margin-top: 10px;
  margin-bottom: 10px;
}
.table td {
  padding: 5px;
}
.table thead {
  font-weight: bold;
  font-size: larger;
}
.table tbody td:first-child {
  font-weight: bold;
}
.striped-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.striped-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 103, 177, 0.14);
}
.slideshare-presentation {
  box-shadow: 1px 2px 15px #888888;
  margin-bottom: 15px;
}
/* ******************************
 For the getting started page
****************************** */
.option-chooser-blocks {
  position: relative;
  margin-left: -8px;
}
.option-chooser-blocks img {
  opacity: 0.8;
  height: 80px;
  width: 80px;
}
.option-chooser-blocks a {
  color: black;
}
.option-chooser-blocks li {
  list-style-type: none;
  float: left;
  height: 115px;
  width: 115px;
  background-color: #eaeaea;
  border: 2px solid #b0c0bf;
  margin: 5px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.option-chooser-blocks li:hover {
  background-color: #d1d1d1;
}
option-chooser-blocks,
chooser-description {
  display: block;
  float: left;
  width: 100%;
  clear: both;
}
/* ******************************
 For the community page
****************************** */
.botbot-button {
  background-color: #de6222;
  padding: 4px;
  height: 60px;
}
.botbot-button img {
  height: 50px;
  float: left;
}
.botbot-button .bbme-title {
  font-size: larger;
  color: white;
}
.pagemenu {
  margin-top: 18px;
  width: 180px;
  margin-left: 20px;
}
.pagemenu ul > li > a {
  width: 160px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-size: 16px;
  border-bottom: 1.5px solid #595959;
}
.pagemenu ul > li:first-child.active > a {
  border-top: 1.5px solid #595959;
}
.pagemenu ul > li:last-child > a {
  border-bottom: none;
}
.pagemenu ul > li:last-child.active > a {
  border-bottom: 1.5px solid #595959;
}
.pagemenu ul > li.active > a {
  border-right: 1.5px solid #595959;
  border-left: 1.5px solid #595959;
  color: #394d54;
}
.pagemenu ul > li:hover {
  background-color: #e8e8e8;
}
.team .team-member {
  position: relative;
  float: left;
  margin: 0px 10px 10px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.team .team-member img {
  width: 145px;
  height: 145px;
}
.team .name {
  position: absolute;
  float: center;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-shadow: black;
  font-size: 22px;
  text-align: center;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.24);
}
.team .bio {
  position: relative;
  float: left;
  margin: 0px 10px 10px 0;
  width: 300px;
  height: 145px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  text-overflow: clip;
}
.core-team .team-member:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
